@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
}

body::before {
  display: block;
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(
      to bottom,
      rgba(var(--background-end-rgb), 1),
      rgb(var(--background-start-rgb), 0.9)
    ),
    url("../public/ucla.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
